<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ServiceCheck.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="NLSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartServiceMessage" serializeAs="String">
                <value>Sayın {fullname}

{servicename} adlı servis başlatılmıştır.</value>
            </setting>
            <setting name="StopServiceMessage" serializeAs="String">
                <value>Sayın {fullname}

{servicename} adlı servis durdurulmuştur.</value>
            </setting>
        </ServiceCheck.Properties.Settings>
    </userSettings>
</configuration>